.vscode
*.iso
.DS_Store
/bin
/env
/Practica_C#_Java/NetBeansProjects/FigurasGeometricas/nbproject/private/
/Practica_C#_Java/NetBeansProjects/FigurasGeometricas/build/
/Practica_C#_Java/NetBeansProjects/histograma/nbproject/private/
/Practica_histogramas/histograma/nbproject/private/
/Practica_histogramas/histograma/build/
